# Build folders
/build/
/out/
/bin/
/obj/
/x64/
/Debug/
/Release/
/.vs/
/.vscode/ipch/

# Build outputs
*.dll
*.exe
*.exp
*.idb
*.ilk
*.lib
*.manifest
*.obj
*.o
*.pch
*.pdb
*.tlog

# CMake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake-build-*/
compile_commands.json

# Visual Studio / IDE
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.ipch
.idea/

# Logs / temp
*.bak
*.log
*.tmp
.DS_Store
Thumbs.db
